html, body, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1B1924;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
}

.main-container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px 0px;
}

header,
form,
.input-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.header-image {
    width: 20%;
    margin-bottom: 10px;
}

h1 {
    font-size: 22px;
    font-weight: 700;
}
form {
    margin: 20px auto;
}

textarea {
    resize: none;
}

textarea,
input {
    font-family: 'Inter', sans-serif;
    color: #8F8F8F;
    background-color: #444059;
    border: none;
    border-radius: 8px;
    padding: 15px;
    width: 80%;
    font-size: 15px;
}

input {
    text-align: center;
}

#publish-btn {
    color: #04131C;
    background-color: #28A9F1;
    border: none;
    border-radius: 8px;
    padding: 22px 40px;
    width: calc(80% + 30px);
    font-size: 22px;
    font-weight: 700;
}

h2 {
    font-size: 20px;
    width: calc(80% + 30px);
    text-align: center;
    margin: 20px auto;
}

.end-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    margin: auto;
    width: calc(80% + 30px);
}
.end-div {
    background-color: #fff;
    color: #1B1924;
    padding: 14px;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    border-radius: 2px;
    margin: 4px;
}

.end-div-inner-wrap {
    display: flex;
    justify-content: space-between;
}

#remove {
    margin: 0;
    color: #8F8F8F;
    cursor: pointer;
    position: relative;
}

#remove .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #28A9F1;
    color: #04131C;
    text-align: center;
    border-radius: 6px;
    padding: 4px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    margin-left: 10px;
  }

  #remove:hover .tooltiptext {
    visibility: visible;
  }

@media (min-width: 600px) {
    form {
        width: 350px;
    }
    .input-wrapper {
        flex-direction: row;
        width: calc(80% + 30px);
    }
    .end-container {
        width: calc(280px + 30px);
    }
}